body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 1rem;
  background: #0b3c49;
  color: white;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

section {
  padding: 2rem;
  border-bottom: 1px solid #eee;
}

.navbar__inner {
display: flex;
flex-direction: row;

}
