/* --- Reset-ish basics --- */
* {
  box-sizing: border-box;
}
h1, h2, h3, p {
  margin: 0;
}
h2 {
   font-size: 2em;
}
body {
  margin: 0;
  font-family: var(--font-sans);
  line-height: 1.5;
  color: #111;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
    max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
  padding-top: var(--space-5);
}

/* --- Navbar --- */
nav {
  min-height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}

.brand-logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

/* --- Nav links --- */
nav ul {
  display: flex;
  gap: 1.5rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #33333380;
  font-size: 0.95rem;
}

nav a:hover {
  text-decoration: underline;
}

nav > div{
   max-width: 1100px;
    min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
   margin: 0 auto;
  padding: 0 1.5rem;
}

/* --- Global Elements --- */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
}

/* --- Hero Section --- */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-1);
}


.hero-cell {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  border-radius: var(--space-5);
  overflow: hidden;
}

.hero-cell .text-group {
  justify-content: center;
  text-align: center;
  padding: 1.8em;
  color: var(--color-5);
}

/* text content */

.headline {
 
  font-weight: 700;
  line-height: 1.1;
    margin-bottom: var(--space-1);
}

.subtext {
  margin-top: 0.5em;
  font-size: 0.9em;
  line-height: 1.4;
  opacity: 0.9;
}
/* image handling */
.hero-media img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or contain if you prefer */
}

.cta-button {
  width: 70%;
 margin: var(--space-2) auto;
  padding: var(--space-4) var(--space-6);
  background-color: var(--color-5);
  color: var(--color-4);
  border: none;
  border-radius: 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}

.contact-section {
  padding: var(--space-6) var(--space-4);
  margin: var(--space-6) 0;
  box-sizing: border-box;

}

.contact__inner {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  max-width: 100ch;
  margin: 0 auto;

}

.contact-form {
  display: grid;
  gap: var(--space-4);
  margin-top: var(--space-5);
}

.contact-form label {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
