:root {
    --font-sans:  "Nunito Sans", sans-serif;;
  /* spacing (distance) */
  --space-1: 0.25rem;  /* 4px */
  --space-2: 0.5rem;   /* 8px */
  --space-3: 0.75rem;  /* 12px */
  --space-4: 1rem;     /* 16px */
  --space-5: 1.5rem;   /* 24px */
  --space-6: 2rem;     /* 32px */
  --space-7: 5rem;    /* 80px */
  --space-8: 6rem;   /* 96px */
  --space-9: 7.5rem;   /* 124px */

  /* sizing */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* layout */
  --max-width: 1200px;

  /* navbar */
  --nav-height: 64px;

  --color-1: #C1D4D9;
  --color-2: #024c59;
  --color-3: #D9965B;
  --color-4: #BF500F;
  --color-5: #F2E6DF;
}
